<div class="movies-container">

  <h1 class="heading">Movies</h1>
  <div class="movies">
    {{#each moviesFromApi}}
      <div class="img-div">
        <img src="{{this.attributes.image.url}}" alt="" srcset="" />
        <a href="/movies/{{this.id}}">{{this.attributes.title}}</a>
      </div>

    {{/each}}

  </div>
</div>