<section id="content-text" class="content-text">
  <a href="/">Back to home page</a>
  <div class="movie">
    <div class="img-container">
      <img src="{{singleMovie.attributes.image.url}}" alt="movie-poster" />
    </div>
    <div class="desc">
      <h1>{{singleMovie.attributes.title}}</h1>
      <p>{{singleMovie.attributes.intro}}</p>
    </div>

  </div>
</section>