<a href = "/">Back to home page</a>
<div class="movie">
    <h1>{{singleMovie.attributes.title}}</h1>
    <img src="{{singleMovie.attributes.image.url}}" alt="">
    <p>{{singleMovie.attributes.intro}}</p>

</div>