@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --primaryColor: #36769d;
  --buttonColor: #e3170a;
  --greyColor: #b6bdb5;
  --darkColor: #011827;
  --secondaryColor: #8acfe5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

nav.navbar {
  color: #fff;
  position: relative;
}

a.navbar-brand h1 {
  font-size: 40px;
  font-weight: 700;
}

.nav-container {
  position: relative;
  background-color: var(--darkColor);
}

.navbar-main {
  width: 100%;
}

/* hamburge icon */

#hamburger-icon {
  display: none;
  margin: auto 0;
}
#hamburger-icon div {
  width: 50px;
  height: 6px;
  border-radius: 10px;
  background-color: #fff;
  margin: 7px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  transform: rotate(45deg) translate(-12px, -9px);
}

/* hamburger icon ends */

ul.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

ul.navbar-nav li a {
  color: #fff;
  font-size: 24px;
}

ul.navbar-nav li a.active {
  color: var(--secondaryColor) !important;
  font-weight: 700;
}

.hero-div {
  position: relative;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 468px;
}

img.hero-img {
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

div.action-btn {
  position: absolute;
  bottom: -20px;
  margin: auto;
  transform: translateX(80%);
}

div.action-btn button,
div.challenges-btn button,
.btn {
  padding: 0.2rem 1rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.5rem;
}
div.action-btn button:first-child,
div.challenges-btn button:first-child {
  background: var(--buttonColor);
}
div.action-btn button:nth-child(2n),
div.challenges-btn button:nth-child(2n) {
  background: var(--secondaryColor);
}
.btn {
  background-color: var(--buttonColor);
  color: #fff;
}

.avatar div {
  max-width: 96px;
}

.avatar div img {
  max-width: 90px;
  margin-right: 3rem;
}
.avatar p {
  font-size: 24px;
  line-height: 28.1px;
  font-style: italic;
}

.avatar p small {
  font-size: 18px;
}
.challenges h1 {
  font-size: 36px;
}

.card.room-info {
  position: relative;
  border-radius: 8px 8px 0px 0px !important;
  max-width: 363px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.room-info div.card-body {
  padding: 2rem;
}

h5.card-title {
  font-size: 28px;
}

h5.card-title.play {
  font-size: 32px;
  font-weight: 700;
}
p.participants {
  font-size: 14px;
}
.room-info p {
  font-size: 18px;
}

.stars {
  color: var(--buttonColor);
}
a.book-room {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--buttonColor);
  color: #fff;
  font-size: 16px;
}

div.details,
.footer {
  background-color: var(--darkColor);
}

div.details {
  height: 500px;
}

div.details p {
  line-height: 33px;
  font-size: 28px;
}

div.details button {
  color: var(--secondaryColor);
  background-color: var(--darkColor);
  font-size: 24px;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  border: 2px solid var(--secondaryColor);
}

p.play-description {
  font-size: 24px;
}

.playing-main {
  margin-bottom: 6rem;
  padding: 0;
}

.playing-imgs {
  max-width: 640px;
  max-height: 460px;
}

.playing-details {
  padding: 4rem;
}

.playing-details-2 {
  padding: 4rem;
}

.playing-imgs:nth-child(2) {
  transform: translateX(-18px);
}

.container.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-div h5,
.footer-div p,
.footer-social span {
  font-size: 18px;
}

.footer-div p {
  line-height: 21px;
}
.footer-div h5,
.footer-link a:first-child,
.footer-social span {
  font-weight: 700;
}
.footer-link a,
.footer-social a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

/* media queries */

@media only screen and (max-width: 576px) {
  .container {
    max-width: 576px;
  }

  #hamburger-icon {
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .navbarNav {
    display: none;
  }

  a.navbar-brand img {
    width: 128px;
    height: 82px;
    margin-right: 0.5rem;
  }

  a.navbar-brand h1 {
    display: flex;
    flex-direction: column;
    font-size: 24px;
  }

  #navbarNav {
    
  }

  ul.navbar-nav li a.active {
    color: #fff !important;
  }

  .hero-div {
    background-image: url("./images/hero-small.png");
    min-height: 274px;
    background-size: cover;
  }

  .online-challenges,
  .challenges-btn button.btn-1 {
    order: 2;
    border: transparent;
    background-color: transparent !important;
    font-size: 16px !important;
    color: var(--secondaryColor);
  }
  .on-site-challenges,
  .challenges-btn button.btn-2 {
    order: 1;
  }

  .challenges-btn button.btn-2,
  .challenges-btn button.btn-1 {
    margin-top: -1rem !important;
  }

  div.action-btn,
  .challenges-btn {
    /* bottom: -80px;
    margin: 0  -9rem; */
    display: flex;
    flex-direction: column;
  }

  div.action-btn {
    bottom: -120px;
    transform: translateX(15%);
  }

  .avatar-1 {
    display: none;
  }

  .avatar-2 {
    margin-top: 4rem;
    padding: 0;
  }

  .challenges-row {
    display: flex;
    flex-wrap: nowrap;
  }

  .room-info div.card-body {
    padding: 0.5rem;
  }

  .room-info-1 {
    width: 363px;
  }

  .room-info-2,
  .room-info-3 {
    width: 363px;
  }

  .challenges h1 {
    font-size: 28px;
    margin-left: -1.1rem;
    margin-right: -1.1rem;
  }

  .card.room-info {
    margin-bottom: 2rem;
  }

  div.container.details {
    max-height: 500px;
    width: 100vw;
    text-align: center;
    margin-top: -2rem;
  }

  .playing {
    flex-direction: column;
    width: 100vw;
    margin-bottom: -6rem;
  }

  .playing-imgs img {
    max-width: 480px;
    max-height: 300px;
    padding: 0;
  }

  .playing-details {
    max-width: 480px;
    margin-bottom: 4rem;
    text-align: start;
    padding: 4rem 0;
  }

  .play-detail {
    margin-bottom: -1rem;
  }
  .play-detail {
    order: 2;
  }

  .playing-imgs:nth-child(2) {
    order: 1;
  }

  .container.footer {
    display: block;
    padding-top: 2rem;
    margin: 0;
    height: 566px;
  }

  div.footer-social {
    margin-top: 0.5rem;
  }
}
