@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: darkcyan;
}

.container,
.won-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.game-settings,
.word-settings,
.win-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 1.5rem;
  border-radius: 5px;
}
.word-settings{
  position: relative;
}
.timer{
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
}

.win-info {
  padding: 5rem;
 
}

.word-settings {
  width: 50vw;
  height: 50vh;
  padding: 0.5rem;
}

.game-btn,
.reset-btn {
  background-color: rgb(10, 131, 131);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
}

.word-length,
.allow-repeating {
  margin-right: 0.5rem;
}

.word-info {
  margin-bottom: 0.5rem;
}

.input-container {
  display: flex;
  padding: 2rem;
  background-color: darkcyan;
}

.input-container button {
  width: 50%;
  padding: 0.4rem;
  background-color: rgb(79, 138, 138);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  font-weight: 700;
}
.input-container input {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.word-shuffle {
  font-weight: 700;
  letter-spacing: 10px;
}

.feedback {
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.correct{
  color: green;
}
.incorrect{
  color: red;
}
.misplaced{
  color: aqua;
}

.guesses-left {
  margin-top: 0.5rem;
}


 