.movie {
  @include container;
  display: flex;
 
  .img-container {
    width: 500px;
    height: 600px;
    text-align: center;

    img {
      width: 80%;
      height: 90%;
      object-fit: cover;
      margin: 1rem auto;
      display: block;
    }
  }
}
