* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.container {
  background: #fff;
  padding: 4rem;
  border-radius: 5px;
}

.secret-word {
  margin: 1rem;
  text-transform: uppercase;
  letter-spacing: 24px;
}

input {
  padding: 0.8rem;
  margin-bottom: 1rem;
}

span.msg {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.buttons button {
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

.buttons button.refresh {
  background-color: rgb(26, 113, 113);
}

.buttons button.check {
  background-color: aqua;
}

.result-summary,
.msg {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: black;
}
/* 
.correct {
  color: green;
}
 */