* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  background: linear-gradient(#f8cfcd, #f18f8b);
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 2rem 0;
  margin: 2rem auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: dropdown 0.9s ease-out;
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
}

@keyframes dropdown {
  0% {
    opacity: 0;

    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading,
.container span.number_completed,
.container form {
  animation: any-fade-in 0.4s backwards;
}
.container span.number_completed {
  animation-delay: 0.6s;
}
.container form {
  animation-delay: 0.7s;
}

.heading {
  animation-delay: 0.5s;
}

@keyframes any-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.number_completed {
  margin: 0.8rem;
}

.form-control {
  display: flex;
}

.form-control button {
  margin-left: 0.2rem;
  padding: 0.5rem;
}
input[type="text"] {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
}

.error {
  display: none;
  color: red;
  text-align: center;
  
}

.error.active {
  display: block;
  animation: blink 0.3s;
  animation-iteration-count: 3;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

ul.list-items {
  list-style-type: none;
  margin-top: 0.8rem;
}

ul.list-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
  border: 1px solid grey;
  padding: 0.5rem;
  font-size: 1rem;
  animation: swing 1s forwards;
}

@keyframes swing {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-5px);
  }
}

ul.list-items li span {
  margin-right: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  animation: fadeIn 0.5s ease-in;
  animation-fill-mode: forwards;
}

