* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: purple;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.todo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="text"] {
  padding: 0.5rem;
  margin-top: 0.1rem;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  text-align: right;
  color: #fff;
  background-color: rgba(27, 154, 27, 0.823);
  cursor: pointer;
}

label {
  font-size: 1.3rem;
  text-align: center;
  color: green;
  font-weight: bold;
}

h1 {
  margin-bottom: 0.5rem;
}

.alert {
  padding: 0.5rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.fa-trash {
  margin-left: 0.5rem;
  color: #fff;
  padding: 0.2rem;
}

ul {
  list-style-type: none;
  margin-top: 2rem;
}
.todo-collection {
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #9191916b;
  margin-bottom: 0.2rem;
  padding: 0.4rem;
  font-size: 1.3rem;
  color: #fff;
  
}

li.completed {
  border: 2px solid green;
  text-decoration: line-through;
}

.completed-task {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

#completed-btn {
  display: none;
  padding: 0.5rem;
  background-color: green;
  border-radius: 5px;
  color: #fff;
}

.not-completed {
  background-color: red;
}

.complete-btn {
  margin: 0.5rem;
  background-color: green;
  color: #fff;
  padding: 0.2rem;
  border-radius: 5px;
}
