
body{
   background: #bb7870;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  background-color: beige;
  padding: 2rem;
}

.form-group {
  width: 70%;
}

.form-group {
  position: relative;
}

.form-group.error input {
  border-color: red;
}

.form-group.success input {
  border-color: green;
}

.form-group small {
  color: #e74c3c;
  position: absolute;
  bottom: 10;
  left: 0;
  visibility: hidden;
}

.form-group.error small {
  visibility: visible;
}
